project:
  type: book
  output-dir: docs
  preview:
    browser: true

book:
  title: "New Zealand Soil Classification"
  edition: 4
  author:
    - id: nzscwg
      name:
        literal: "NZSC Working Group"
    - id: aeh
      name:
        given: "Alan E."
        family: "Hewitt"
      degrees: "PhD"
      attributes:
        corresponding: false
        deceased: true
    - id: aeg
      name:
        given: "Andre"
        family: "Eger"
      email: "soilstandards@landcareresearch.co.nz"
      orcid: "0000-0001-8442-6815"
      degrees: "PhD"
      attributes:
        corresponding: true
      role:
        - editing: lead
  date: last-modified
  language: en
  page-navigation: true
  back-to-top-navigation: true
  publisher: "Manaaki Whenua Landcare Research"
  publisher-place: "Lincoln, Canterbury, New Zealand"
  reader-mode: true
  search: true
  downloads: [docx, epub]
  output-file: BSI-MWLR_2024_NZSC-4e
  repo-url: https://github.com/manaakiwhenua/nzsc_v4
  chapters:
    - index.qmd
    - Foreword.qmd
    - Introduction.qmd
    - Diagnostics.qmd
    - Key-to-Orders.qmd
    - Allophanics.qmd
    - Anthropics.qmd
    - Browns.qmd
    - Gleys.qmd
    - Granulars.qmd
    - Melanics.qmd
    - Organics.qmd
    - Oxidics.qmd
    - Pallics.qmd
    - Podzols.qmd
    - Pumices.qmd
    - Raws.qmd
    - Recents.qmd
    - Semiarids.qmd
    - Ultics.qmd
    - Acknowledgements.qmd
    - references.qmd
  appendices:
    - Appendix_cryic.qmd
    - Appendix_letters.qmd
    - Changelog.qmd

bibliography: NZSC_reference_list_4e.bib
csl: mwlr-citation-style-second-ed.csl

format:
  html:
    theme:
      light: cosmo
    citations-hover: true
    footnotes-hover: true
    css: styles.css
  # Word doc was prepped manually
  epub:
    split-level: 2
    toc: true
    css: styles.css
    number-sections: false
    tbl-colwidths: true
    df-print: paged

# global knitr options
knitr:
  opts_chunk:
    comment: "#>"
    collapse: true
    out.width: '85%'
    fig.align: 'center'
    echo: false
    fig.show: 'hold'
    results: 'hold'
    warning: false
    message: false
    error: false
