/*-- scss:defaults --*/

// bsi-ify the callouts

$callout-color-note: #0394c1;
$callout-color-tip: #2e9d56;
$callout-color-caution: #e37921;
$callout-color-warning: #ffa12e;
$callout-color-important: #c13003;

// and the urls

$link-color: #5A7B7E;
